In [11]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [5]:
base_url = "https://www.topuniversities.com"

unis_url = [{'name': 'Massachusetts Institute of Technology (MIT)',
  'url': '/universities/massachusetts-institute-technology-mit'},
 {'name': 'Stanford University', 'url': '/universities/stanford-university'},
 {'name': 'Harvard University', 'url': '/universities/harvard-university'},
 {'name': 'California Institute of Technology (Caltech)',
  'url': '/universities/california-institute-technology-caltech'},
 {'name': 'University of Cambridge',
  'url': '/universities/university-cambridge'},
 {'name': 'University of Oxford', 'url': '/universities/university-oxford'},
 {'name': 'UCL (University College London)',
  'url': '/universities/ucl-university-college-london'},
 {'name': 'Imperial College London',
  'url': '/universities/imperial-college-london'},
 {'name': 'University of Chicago', 'url': '/universities/university-chicago'},
 {'name': 'ETH Zurich - Swiss Federal Institute of Technology',
  'url': '/universities/eth-zurich-swiss-federal-institute-technology'},
 {'name': 'Nanyang Technological University, Singapore (NTU)',
  'url': '/universities/nanyang-technological-university-singapore-ntu'},
 {'name': 'Ecole Polytechnique Fédérale de Lausanne (EPFL)',
  'url': '/universities/ecole-polytechnique-f%C3%A9d%C3%A9rale-de-lausanne-epfl'},
 {'name': 'Princeton University', 'url': '/universities/princeton-university'},
 {'name': 'Cornell University', 'url': '/universities/cornell-university'},
 {'name': 'National University of Singapore (NUS)',
  'url': '/universities/national-university-singapore-nus'},
 {'name': 'Yale University', 'url': '/universities/yale-university'},
 {'name': 'Johns Hopkins University',
  'url': '/universities/johns-hopkins-university'},
 {'name': 'Columbia University', 'url': '/universities/columbia-university'},
 {'name': 'University of Pennsylvania',
  'url': '/universities/university-pennsylvania'},
 {'name': 'The Australian National University',
  'url': '/universities/australian-national-university'},
 {'name': 'Duke University', 'url': '/universities/duke-university'},
 {'name': 'University of Michigan',
  'url': '/universities/university-michigan'},
 {'name': "King's College London",
  'url': '/universities/kings-college-london'},
 {'name': 'The University of Edinburgh',
  'url': '/universities/university-edinburgh'},
 {'name': 'Tsinghua University', 'url': '/universities/tsinghua-university'},
 {'name': 'The University of Hong Kong',
  'url': '/universities/university-hong-kong'},
 {'name': 'University of California, Berkeley (UCB)',
  'url': '/universities/university-california-berkeley-ucb'},
 {'name': 'Northwestern University',
  'url': '/universities/northwestern-university'},
 {'name': 'The University of Tokyo', 'url': '/universities/university-tokyo'},
 {'name': 'The Hong Kong University of Science and Technology',
  'url': '/universities/hong-kong-university-science-technology'},
 {'name': 'University of Toronto', 'url': '/universities/university-toronto'},
 {'name': 'McGill University', 'url': '/universities/mcgill-university'},
 {'name': 'University of California, Los Angeles (UCLA)',
  'url': '/universities/university-california-los-angeles-ucla'},
 {'name': 'The University of Manchester',
  'url': '/universities/university-manchester'},
 {'name': 'London School of Economics and Political Science (LSE)',
  'url': '/universities/london-school-economics-political-science-lse'},
 {'name': 'Kyoto University', 'url': '/universities/kyoto-university'},
 {'name': 'Seoul National University',
  'url': '/universities/seoul-national-university'},
 {'name': 'Peking University', 'url': '/universities/peking-university'},
 {'name': 'University of California, San Diego (UCSD)',
  'url': '/universities/university-california-san-diego-ucsd'},
 {'name': 'Fudan University', 'url': '/universities/fudan-university'},
 {'name': 'KAIST - Korea Advanced Institute of Science & Technology',
  'url': '/universities/kaist-korea-advanced-institute-science-technology'},
 {'name': 'The University of Melbourne',
  'url': '/universities/university-melbourne'},
 {'name': 'Ecole normale supérieure, Paris',
  'url': '/universities/ecole-normale-sup%C3%A9rieure-paris'},
 {'name': 'University of Bristol', 'url': '/universities/university-bristol'},
 {'name': 'The University of New South Wales (UNSW Sydney)',
  'url': '/universities/university-new-south-wales-unsw-sydney'},
 {'name': 'The Chinese University of Hong Kong (CUHK)',
  'url': '/universities/chinese-university-hong-kong-cuhk'},
 {'name': 'The University of Queensland',
  'url': '/universities/university-queensland'},
 {'name': 'Carnegie Mellon University',
  'url': '/universities/carnegie-mellon-university'},
 {'name': 'City University of Hong Kong',
  'url': '/universities/city-university-hong-kong'},
 {'name': 'The University of Sydney',
  'url': '/universities/university-sydney'},
 {'name': 'University of British Columbia',
  'url': '/universities/university-british-columbia'},
 {'name': 'New York University (NYU)',
  'url': '/universities/new-york-university-nyu'},
 {'name': 'Brown University', 'url': '/universities/brown-university'},
 {'name': 'Delft University of Technology',
  'url': '/universities/delft-university-technology'},
 {'name': 'University of Wisconsin-Madison',
  'url': '/universities/university-wisconsin-madison'},
 {'name': 'Tokyo Institute of Technology',
  'url': '/universities/tokyo-institute-technology'},
 {'name': 'The University of Warwick',
  'url': '/universities/university-warwick'},
 {'name': 'University of Amsterdam',
  'url': '/universities/university-amsterdam'},
 {'name': 'Ecole Polytechnique', 'url': '/universities/ecole-polytechnique'},
 {'name': 'Monash University', 'url': '/universities/monash-university'},
 {'name': 'University of Washington',
  'url': '/universities/university-washington'},
 {'name': 'Shanghai Jiao Tong University',
  'url': '/universities/shanghai-jiao-tong-university'},
 {'name': 'Osaka University', 'url': '/universities/osaka-university'},
 {'name': 'Technical University of Munich',
  'url': '/universities/technical-university-munich'},
 {'name': 'University of Glasgow', 'url': '/universities/university-glasgow'},
 {'name': 'Ludwig-Maximilians-Universität München',
  'url': '/universities/ludwig-maximilians-universit%C3%A4t-m%C3%BCnchen'},
 {'name': 'University of Texas at Austin',
  'url': '/universities/university-texas-austin'},
 {'name': 'Ruprecht-Karls-Universität Heidelberg',
  'url': '/universities/ruprecht-karls-universit%C3%A4t-heidelberg'},
 {'name': 'University of Illinois at Urbana-Champaign',
  'url': '/universities/university-illinois-urbana-champaign'},
 {'name': 'Georgia Institute of Technology',
  'url': '/universities/georgia-institute-technology'},
 {'name': 'KU Leuven', 'url': '/universities/ku-leuven'},
 {'name': 'Pohang University of Science And Technology (POSTECH)',
  'url': '/universities/pohang-university-science-technology-postech'},
 {'name': 'University of Zurich', 'url': '/universities/university-zurich'},
 {'name': 'University of Copenhagen',
  'url': '/universities/university-copenhagen'},
 {'name': 'Universidad de Buenos Aires (UBA)',
  'url': '/universities/universidad-de-buenos-aires-uba'},
 {'name': 'National Taiwan University (NTU)',
  'url': '/universities/national-taiwan-university-ntu'},
 {'name': 'Tohoku University', 'url': '/universities/tohoku-university'},
 {'name': 'Lund University', 'url': '/universities/lund-university'},
 {'name': 'Durham University', 'url': '/universities/durham-university'},
 {'name': 'University of North Carolina, Chapel Hill',
  'url': '/universities/university-north-carolina-chapel-hill'},
 {'name': 'Boston University', 'url': '/universities/boston-university'},
 {'name': 'The University of Auckland',
  'url': '/universities/university-auckland'},
 {'name': 'The University of Sheffield',
  'url': '/universities/university-sheffield'},
 {'name': 'The University of Nottingham',
  'url': '/universities/university-nottingham'},
 {'name': 'University of Birmingham',
  'url': '/universities/university-birmingham'},
 {'name': 'The Ohio State University',
  'url': '/universities/ohio-state-university'},
 {'name': 'Zhejiang University', 'url': '/universities/zhejiang-university'},
 {'name': 'Trinity College Dublin, The University of Dublin',
  'url': '/universities/trinity-college-dublin-university-dublin'},
 {'name': 'Rice University', 'url': '/universities/rice-university'},
 {'name': 'University of Alberta', 'url': '/universities/university-alberta'},
 {'name': 'Korea University', 'url': '/universities/korea-university'},
 {'name': 'University of St Andrews',
  'url': '/universities/university-st-andrews'},
 {'name': 'Pennsylvania State University',
  'url': '/universities/pennsylvania-state-university'},
 {'name': 'The University of Western Australia',
  'url': '/universities/university-western-australia'},
 {'name': 'The Hong Kong Polytechnic University',
  'url': '/universities/hong-kong-polytechnic-university'},
 {'name': 'Lomonosov Moscow State University',
  'url': '/universities/lomonosov-moscow-state-university'},
 {'name': 'University of Science and Technology of China',
  'url': '/universities/university-science-technology-china'},
 {'name': 'KTH Royal Institute of Technology',
  'url': '/universities/kth-royal-institute-technology'},
 {'name': 'University of Geneva', 'url': '/universities/university-geneva'},
 {'name': 'Washington University in St. Louis',
  'url': '/universities/washington-university-st-louis'},
 {'name': 'University of Leeds', 'url': '/universities/university-leeds'},
 {'name': 'University of Southampton',
  'url': '/universities/university-southampton'},
 {'name': 'University of Helsinki',
  'url': '/universities/university-helsinki'},
 {'name': 'Eindhoven University of Technology',
  'url': '/universities/eindhoven-university-technology'},
 {'name': 'Purdue University', 'url': '/universities/purdue-university'},
 {'name': 'Yonsei University', 'url': '/universities/yonsei-university'},
 {'name': 'KIT, Karlsruhe Institute of Technology',
  'url': '/universities/kit-karlsruhe-institute-technology'},
 {'name': 'Sungkyunkwan University (SKKU)',
  'url': '/universities/sungkyunkwan-university-skku'},
 {'name': 'The University of Adelaide',
  'url': '/universities/university-adelaide'},
 {'name': 'Utrecht University', 'url': '/universities/utrecht-university'},
 {'name': 'Leiden University', 'url': '/universities/leiden-university'},
 {'name': 'Uppsala University', 'url': '/universities/uppsala-university'},
 {'name': 'University of Groningen',
  'url': '/universities/university-groningen'},
 {'name': 'Universiti Malaya (UM)',
  'url': '/universities/universiti-malaya-um'},
 {'name': 'Nanjing University', 'url': '/universities/nanjing-university'},
 {'name': 'Nagoya University', 'url': '/universities/nagoya-university'},
 {'name': 'Technical University of Denmark',
  'url': '/universities/technical-university-denmark'},
 {'name': 'University of California, Davis',
  'url': '/universities/university-california-davis'},
 {'name': 'Aarhus University', 'url': '/universities/aarhus-university'},
 {'name': 'Humboldt-Universität zu Berlin',
  'url': '/universities/humboldt-universit%C3%A4t-zu-berlin'},
 {'name': 'Universidade de São Paulo',
  'url': '/universities/universidade-de-s%C3%A3o-paulo'},
 {'name': 'Universidad Nacional Autónoma de México  (UNAM)',
  'url': '/universities/universidad-nacional-aut%C3%B3noma-de-m%C3%A9xico-unam'},
 {'name': 'Hokkaido University', 'url': '/universities/hokkaido-university'},
 {'name': 'Wageningen University',
  'url': '/universities/wageningen-university'},
 {'name': 'Freie Universitaet Berlin',
  'url': '/universities/freie-universitaet-berlin'},
 {'name': 'Ghent University', 'url': '/universities/ghent-university'},
 {'name': 'Queen Mary University of London',
  'url': '/universities/queen-mary-university-london'},
 {'name': 'Kyushu University', 'url': '/universities/kyushu-university'},
 {'name': 'University of Maryland, College Park',
  'url': '/universities/university-maryland-college-park'},
 {'name': 'Université de Montréal',
  'url': '/universities/universit%C3%A9-de-montr%C3%A9al'},
 {'name': 'Université Pierre et Marie Curie (UPMC)',
  'url': '/universities/universit%C3%A9-pierre-et-marie-curie-upmc'},
 {'name': 'University of Southern California',
  'url': '/universities/university-southern-california'},
 {'name': 'Chalmers University of Technology',
  'url': '/universities/chalmers-university-technology'},
 {'name': 'University of California, Santa Barbara (UCSB)',
  'url': '/universities/university-california-santa-barbara-ucsb'},
 {'name': 'Lancaster University', 'url': '/universities/lancaster-university'},
 {'name': 'University of York', 'url': '/universities/university-york'},
 {'name': 'Aalto University', 'url': '/universities/aalto-university'},
 {'name': 'Cardiff University', 'url': '/universities/cardiff-university'},
 {'name': 'Pontificia Universidad Católica de Chile (UC)',
  'url': '/universities/pontificia-universidad-cat%C3%B3lica-de-chile-uc'},
 {'name': 'McMaster University', 'url': '/universities/mcmaster-university'},
 {'name': 'RWTH Aachen University',
  'url': '/universities/rwth-aachen-university'},
 {'name': 'University of Oslo', 'url': '/universities/university-oslo'},
 {'name': 'University of Pittsburgh',
  'url': '/universities/university-pittsburgh'},
 {'name': 'Technische Universität Berlin (TU Berlin)',
  'url': '/universities/technische-universit%C3%A4t-berlin-tu-berlin'},
 {'name': 'The Hebrew University of Jerusalem',
  'url': '/universities/hebrew-university-jerusalem'},
 {'name': 'University of Lausanne',
  'url': '/universities/university-lausanne'},
 {'name': 'Emory University', 'url': '/universities/emory-university'},
 {'name': 'Erasmus University Rotterdam',
  'url': '/universities/erasmus-university-rotterdam'},
 {'name': 'University of Basel', 'url': '/universities/university-basel'},
 {'name': 'Michigan State University',
  'url': '/universities/michigan-state-university'},
 {'name': 'University of Otago', 'url': '/universities/university-otago'},
 {'name': 'University of Waterloo',
  'url': '/universities/university-waterloo'},
 {'name': 'Université catholique de Louvain (UCL)',
  'url': '/universities/universit%C3%A9-catholique-de-louvain-ucl'},
 {'name': 'University of Vienna', 'url': '/universities/university-vienna'},
 {'name': 'Hanyang University', 'url': '/universities/hanyang-university'},
 {'name': 'Universitat de Barcelona',
  'url': '/universities/universitat-de-barcelona'},
 {'name': 'École Normale Supérieure de Lyon',
  'url': '/universities/%C3%A9cole-normale-sup%C3%A9rieure-de-lyon'},
 {'name': 'The University of Exeter',
  'url': '/universities/university-exeter'},
 {'name': 'University of Aberdeen',
  'url': '/universities/university-aberdeen'},
 {'name': 'University of Bath', 'url': '/universities/university-bath'},
 {'name': 'Newcastle University', 'url': '/universities/newcastle-university'},
 {'name': 'National Tsing Hua University',
  'url': '/universities/national-tsing-hua-university'},
 {'name': 'University of Minnesota',
  'url': '/universities/university-minnesota'},
 {'name': 'Eberhard Karls Universität Tübingen',
  'url': '/universities/eberhard-karls-universit%C3%A4t-t%C3%BCbingen'},
 {'name': 'University of California, Irvine',
  'url': '/universities/university-california-irvine'},
 {'name': 'University of Bergen', 'url': '/universities/university-bergen'},
 {'name': 'University of Bern', 'url': '/universities/university-bern'},
 {'name': 'University College Dublin',
  'url': '/universities/university-college-dublin'},
 {'name': 'Dartmouth College', 'url': '/universities/dartmouth-college'},
 {'name': 'Politecnico di Milano',
  'url': '/universities/politecnico-di-milano'},
 {'name': 'Albert-Ludwigs-Universitaet Freiburg',
  'url': '/universities/albert-ludwigs-universitaet-freiburg'},
 {'name': 'Indian Institute of Technology Delhi (IITD)',
  'url': '/universities/indian-institute-technology-delhi-iitd'},
 {'name': 'University of Virginia',
  'url': '/universities/university-virginia'},
 {'name': 'King Fahd University of Petroleum & Minerals',
  'url': '/universities/king-fahd-university-petroleum-minerals'},
 {'name': 'University of Liverpool',
  'url': '/universities/university-liverpool'},
 {'name': 'University of Technology Sydney',
  'url': '/universities/university-technology-sydney'},
 {'name': 'CentraleSupélec', 'url': '/universities/centralesup%C3%A9lec'},
 {'name': 'University of Florida', 'url': '/universities/university-florida'},
 {'name': 'University of Twente', 'url': '/universities/university-twente'},
 {'name': 'Indian Institute of Technology Bombay (IITB)',
  'url': '/universities/indian-institute-technology-bombay-iitb'},
 {'name': 'University of Göttingen',
  'url': '/universities/university-g%C3%B6ttingen'},
 {'name': 'Vrije Universiteit Brussel (VUB)',
  'url': '/universities/vrije-universiteit-brussel-vub'},
 {'name': 'Universidade Estadual de Campinas (Unicamp)',
  'url': '/universities/universidade-estadual-de-campinas-unicamp'},
 {'name': 'University of Colorado Boulder',
  'url': '/universities/university-colorado-boulder'},
 {'name': 'Vienna University of Technology',
  'url': '/universities/vienna-university-technology'},
 {'name': 'University of Rochester',
  'url': '/universities/university-rochester'},
 {'name': 'Universidad Autónoma de Madrid',
  'url': '/universities/universidad-aut%C3%B3noma-de-madrid'},
 {'name': 'Alma Mater Studiorum - University of Bologna',
  'url': '/universities/alma-mater-studiorum-university-bologna'},
 {'name': 'University of Reading', 'url': '/universities/university-reading'},
 {'name': 'Indian Institute of Science (IISc) Bangalore',
  'url': '/universities/indian-institute-science-iisc-bangalore'},
 {'name': 'University of Cape Town',
  'url': '/universities/university-cape-town'},
 {'name': 'Scuola Normale Superiore di Pisa',
  'url': '/universities/scuola-normale-superiore-di-pisa'},
 {'name': "Scuola Superiore Sant'Anna Pisa di Studi Universitari e di Perfezionamento",
  'url': '/universities/scuola-superiore-santanna-pisa-di-studi-universitari-e-di-perfezionamento'},
 {'name': 'Keio University', 'url': '/universities/keio-university'},
 {'name': 'Stockholm University', 'url': '/universities/stockholm-university'},
 {'name': 'Universitat Autònoma de Barcelona',
  'url': '/universities/universitat-aut%C3%B2noma-de-barcelona'},
 {'name': 'Texas A&M University', 'url': '/universities/texas-am-university'},
 {'name': 'Instituto Tecnológico y de Estudios Superiores de Monterrey',
  'url': '/universities/instituto-tecnol%C3%B3gico-y-de-estudios-superiores-de-monterrey'},
 {'name': 'Maastricht University',
  'url': '/universities/maastricht-university'},
 {'name': 'Universidad de Chile', 'url': '/universities/universidad-de-chile'}]

In [8]:
dictlist = []
def nice_format(number):
    return number.strip('\n').replace(',','')
for url in unis_url[:200]:
    #print(url['name'])
    r = requests.get(base_url+url['url'])
    body = r.text
    soup = BeautifulSoup(body, 'html.parser')
    number = soup.find_all('div', class_='number')
    if len(number) is not 0:
        dictlist.append({'Name': url['name'], 'Total faculty members': nice_format(number[0].text), 'International faculty members'
                        : nice_format(number[1].text), 'Total number of students': nice_format(number[2].text), 'Total number of international students'
                        : nice_format(number[3].text)})
#pd.DataFrame(dictlist).set_index('Name')

In [16]:
df = pd.DataFrame(dictlist).set_index('Name')
df['Website'] = 'Top Universities'
df

,International faculty members,Total faculty members,Total number of international students,Total number of students,Website
Name,,,,,
Massachusetts Institute of Technology (MIT),1679,2982,3717,11067,Top Universities
Stanford University,2042,4285,3611,15878,Top Universities
Harvard University,1311,4350,5266,22429,Top Universities
California Institute of Technology (Caltech),350,953,647,2255,Top Universities
University of Cambridge,2278,5490,6699,18770,Top Universities
University of Oxford,2964,6750,7353,19720,Top Universities
UCL (University College London),2554,6345,14854,31080,Top Universities
Imperial College London,2071,3930,8746,16090,Top Universities
University of Chicago,635,2449,3379,13557,Top Universities
ETH Zurich - Swiss Federal Institute of Technology,1886,2477,7563,19815,Top Universities
"Nanyang Technological University, Singapore (NTU)",2993,4338,7251,25738,Top Universities
Ecole Polytechnique Fédérale de Lausanne (EPFL),1300,1695,5896,10343,Top Universities
Princeton University,246,1007,1793,8069,Top Universities
Cornell University,970,2718,5411,21904,Top Universities
National University of Singapore (NUS),3086,5106,8917,32728,Top Universities
Yale University,1708,4940,2469,12402,Top Universities
Johns Hopkins University,1061,4462,4105,16146,Top Universities
Columbia University,913,6189,8105,25045,Top Universities
University of Pennsylvania,1383,5499,4250,20639,Top Universities
The Australian National University,927,1600,5551,14442,Top Universities
Duke University,226,2938,2864,15320,Top Universities
University of Michigan,1920,6809,7527,43147,Top Universities
King's College London,1513,3650,9451,23780,Top Universities
The University of Edinburgh,1553,4075,10551,28040,Top Universities
Tsinghua University,932,5506,4072,36300,Top Universities
The University of Hong Kong,2085,3012,8230,20214,Top Universities
"University of California, Berkeley (UCB)",1395,3321,6086,36703,Top Universities
Northwestern University,1141,4231,3422,18675,Top Universities
The University of Tokyo,254,4514,2639,27279,Top Universities
The Hong Kong University of Science and Technology,835,1150,2921,10375,Top Universities
...,...,...,...,...,...
Albert-Ludwigs-Universitaet Freiburg,413,1966,3897,23214,Top Universities
Indian Institute of Technology Delhi (IITD),4,466,80,7477,Top Universities
University of Virginia,487,2509,1899,21560,Top Universities
King Fahd University of Petroleum & Minerals,665,1062,989,6040,Top Universities
University of Liverpool,717,2390,7502,22065,Top Universities
University of Technology Sydney,546,1328,7769,24207,Top Universities
CentraleSupélec,137,529,1132,3877,Top Universities
University of Florida,504,5419,4597,45485,Top Universities
University of Twente,299,910,2235,9332,Top Universities
Indian Institute of Technology Bombay (IITB),19,876,93,9402,Top Universities
University of Göttingen,641,3678,3736,30402,Top Universities
Vrije Universiteit Brussel (VUB),515,1792,1853,9284,Top Universities
Universidade Estadual de Campinas (Unicamp),109,1968,966,26572,Top Universities
University of Colorado Boulder,566,3685,2679,30219,Top Universities
Vienna University of Technology,172,706,5199,17479,Top Universities
University of Rochester,488,2569,2805,9636,Top Universities
Universidad Autónoma de Madrid,181,2738,2976,26511,Top Universities
Alma Mater Studiorum - University of Bologna,153,2990,4195,63399,Top Universities
University of Reading,422,1280,4077,13330,Top Universities
Indian Institute of Science (IISc) Bangalore,4071,423,423,47,Top Universities
University of Cape Town,379,1733,3325,19593,Top Universities
Scuola Normale Superiore di Pisa,1,86,48,532,Top Universities
Scuola Superiore Sant'Anna Pisa di Studi Universitari e di Perfezionamento,1,119,135,789,Top Universities
Keio University,261,3905,2178,33500,Top Universities
Stockholm University,646,2154,2636,28281,Top Universities
Universitat Autònoma de Barcelona,230,2187,3848,31986,Top Universities
Texas A&M University,206,3446,4900,60294,Top Universities
Instituto Tecnológico y de Estudios Superiores de Monterrey,821,1822,1412,13376,Top Universities
Maastricht University,502,1277,8234,16385,Top Universities
Universidad de Chile,127,2256,2134,38848,Top Universities

## Times higher education

In [21]:
json_th = requests.get('https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json').json()
data_th = json_th['data']
th_disct = []
for d in data_th[:200]:
    name = d['name']
    total_stu = float(d['stats_number_students'].replace(',', ''))
    inter_percent = float(d['stats_pc_intl_students'].strip('%'))
    student_staff_ratio = float(d['stats_student_staff_ratio'])
    th_disct.append({'Name': name, 'Total number of students': total_stu, 'Total number of international students': (total_stu/100)*inter_percent, 'Total falculty members': total_stu/student_staff_ratio})
df = pd.DataFrame(th_disct).set_index('Name').astype('int64')
df['Website'] = "Times Higher Education"
df['International faculty members'] = np.NAN

In [25]:
df

,Total falculty members,Total number of international students,Total number of students,Website,International faculty members
Name,,,,,
University of Oxford,1822,7755,20409,Times Higher Education,NaN
University of Cambridge,1687,6436,18389,Times Higher Education,NaN
California Institute of Technology,339,596,2209,Times Higher Education,NaN
Stanford University,2112,3485,15845,Times Higher Education,NaN
Massachusetts Institute of Technology,1284,3800,11177,Times Higher Education,NaN
Harvard University,2283,5284,20326,Times Higher Education,NaN
Princeton University,958,1909,7955,Times Higher Education,NaN
Imperial College London,1390,8721,15857,Times Higher Education,NaN
University of Chicago,2181,3381,13525,Times Higher Education,NaN
ETH Zurich – Swiss Federal Institute of Technology Zurich,1317,7308,19233,Times Higher Education,NaN
University of Pennsylvania,3132,4072,20361,Times Higher Education,NaN
Yale University,2826,2552,12155,Times Higher Education,NaN
Johns Hopkins University,3604,3719,15498,Times Higher Education,NaN
Columbia University,4358,8507,26587,Times Higher Education,NaN
"University of California, Los Angeles",4091,6677,39279,Times Higher Education,NaN
University College London,2886,14848,30304,Times Higher Education,NaN
Duke University,3390,3356,15256,Times Higher Education,NaN
"University of California, Berkeley",2761,6150,36182,Times Higher Education,NaN
Cornell University,2229,5244,21850,Times Higher Education,NaN
Northwestern University,1364,3143,17466,Times Higher Education,NaN
University of Michigan,4862,6690,41818,Times Higher Education,NaN
National University of Singapore,1800,9180,30602,Times Higher Education,NaN
University of Toronto,3712,11802,69427,Times Higher Education,NaN
Carnegie Mellon University,938,5704,12676,Times Higher Education,NaN
London School of Economics and Political Science,825,7146,10065,Times Higher Education,NaN
University of Washington,3942,7191,44945,Times Higher Education,NaN
University of Edinburgh,2140,10703,26759,Times Higher Education,NaN
New York University,4568,11403,43860,Times Higher Education,NaN
Peking University,4734,6741,42136,Times Higher Education,NaN
Tsinghua University,3072,3788,42089,Times Higher Education,NaN
...,...,...,...,...,...
University of Cape Town,1775,3739,20775,Times Higher Education,NaN
"Rutgers, the State University of New Jersey",3913,4343,43439,Times Higher Education,NaN
KTH Royal Institute of Technology,809,2201,12951,Times Higher Education,NaN
University of Münster,992,2960,42287,Times Higher Education,NaN
Université Libre de Bruxelles,583,8870,25343,Times Higher Education,NaN
Newcastle University,1343,6285,20952,Times Higher Education,NaN
University of Liverpool,1693,6935,19815,Times Higher Education,NaN
Zhejiang University,3549,3003,50051,Times Higher Education,NaN
University of Luxembourg,340,2832,4969,Times Higher Education,NaN
University of Twente,523,1808,6697,Times Higher Education,NaN
Paris-Sud University,1877,4355,27221,Times Higher Education,NaN
École Normale Supérieure de Lyon,261,288,2221,Times Higher Education,NaN
Hong Kong Polytechnic University,809,5443,21773,Times Higher Education,NaN
Scuola Normale Superiore di Pisa,99,36,515,Times Higher Education,NaN
University of Aberdeen,867,4339,12055,Times Higher Education,NaN
University of Miami,2688,2537,15860,Times Higher Education,NaN
University of Dundee,731,2614,10893,Times Higher Education,NaN
University of East Anglia,994,4056,13521,Times Higher Education,NaN
Shanghai Jiao Tong University,3007,2237,37288,Times Higher Education,NaN
Aalto University,630,2548,12744,Times Higher Education,NaN
University of Massachusetts,4453,8292,59230,Times Higher Education,NaN
University of Auckland,1614,8800,30348,Times Higher Education,NaN
Northeastern University,1341,6009,18780,Times Higher Education,NaN
Lomonosov Moscow State University,4004,6431,29236,Times Higher Education,NaN
Tilburg University,343,1005,7738,Times Higher Education,NaN
Paris-Sorbonne University – Paris 4,729,3306,22042,Times Higher Education,NaN
"Royal Holloway, University of London",579,3572,8931,Times Higher Education,NaN
"University of California, Riverside",1001,2903,20740,Times Higher Education,NaN
University of Gothenburg,1837,2389,18378,Times Higher Education,NaN
National Taiwan University,2761,2540,31758,Times Higher Education,NaN